# ============================================
# ROS2 & Colcon 编译生成文件
# ============================================

# IDE文件
.cache/
.vscode/

# Colcon工作空间构建目录
build/
log/
install/
# ROS2Bag
bags/

*.asv



